﻿@model EmployeeDetailViewModel

<div class="col-md-12 grid-margin grid-margin-md-0">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Employee List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employee Details</li>
                </ol>
            </nav><br />
            <div class="wrap d-flex justify-content-start justify-content-sm-center flex-wrap">
                <img class="rounded-circle shadow-lg" style="width:300px; height:350px" src="@Url.Content(Model.ImageUrl)" alt="" />
                <div class="wrap align-items-center ml-5">
                    <p class="font-weight-bold text-success" style="font-size:20px">@Model.FullName</p>
                    <p class="font-weight-normal"> Role: @Model.Designation</p>
                    <p class="font-weight-normal"> Gender: @Model.Gender</p>
                    <p class="font-weight-normal">Date Of Birth: @Model.DOB.ToString("dd/MM/yyyy")</p>
                    <p class="font-weight-normal">Employee Number: @Model.EmployeeNo</p>
                    <p class="font-weight-normal">NI Number: @Model.SSN</p>
                    <p class="font-weight-normal">Email: <a href="#">@Model.Email</a></p>
                    <p class="font-weight-normal">Phone: <a href="tel:@Model.Phone">@Model.Phone</a></p>
                    <br />
                    <p class="font-weight-bold"> Pay & Deductions</p>
                    <hr style="background-color:crimson" />
                    <p class="font-weight-normal"> Payment Method: @Model.PaymentMethod</p>
                    <p class="font-weight-normal"> Student Loan: @Model.StudentLoan</p>
                    <p class="font-weight-normal"> Union Member: @Model.UnionMember</p>
                    <p class="font-weight-normal"><i class="fas fa-envelope" style="margin-right:0.6em; color:cornflowerblue"></i> <a href="mailto:@Model.Email?subject=Payslip&body=Attached within is your paylip.">Send Payslip</a></p>
                    <br />
                    <p class="font-weight-bold"> Address</p>
                    <hr style="background-color:crimson" />
                    <p class="font-weight-normal"> @Model.Address</p>
                    <p class="font-weight-normal"> @Model.City</p>
                    <p class="font-weight-normal"> @Model.PostCode</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
